@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden; 
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgb(63, 45, 89);
    background: radial-gradient(circle, rgba(63, 45, 89, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.drew {
    position: absolute;
    top: 65%;           
    left: 0%;          
  z-index: 1;
}
.oni {
  scale: .4;
    position: absolute;
    rotate: 220deg;
    top: -22%;           
    right: -10%;          
}

.overlay {
    position: absolute;
    inset: -200%;
    background-image: url('/assets/images/noise.jpg');
    opacity: 9%;  
    animation: noise 0.5s linear infinite both;
    pointer-events: none; 
    z-index: 2;
}

@keyframes noise {
    0% {
        transform: translate(10%, 10%);
    }
    100% {
        transform: translate(-10%, -10%);
    }
}
